@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fredericka+the+Great&family=Stalinist+One&display=swap');
body {
    background-color: black;
}

/* Nav and Book Buttons */

Nav, .btnRow Button {
    background: #d4986E;
    font-family: 'Bungee', cursive;
}

/* Jumbotron */

.header {
    background: url("https://cdn.pixabay.com/photo/2012/03/04/00/17/books-21849_1280.jpg");
    background-size: 100%;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    color: white;
}

/* Search Form */

.formRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form-group {
    width: 45vw;
    margin-right: 5px;
}

/* Book Card */

.titleRow {
    display: flex;
    justify-content: space-between;
}

.btnRow {
    text-align: right;
}

.btnRow Button {
    width: 8vw;
    height: 40px;
    margin: 10px;
}

/* Adding spacing around each book listing */

.book {
    margin: 20px;
}